<%- include('../partials/header') %>

<h3>by <%= owner.name %></h3>
<% if (recipe.rating) { %>
	<h5>Rating: <%= recipe.rating %></h5> 
<% } else { %>
	<h5>No Ratings Yet!</h5>
<% } %> 
<div>
	<h2>Ingredients:</h2>
	<table>
		<thead>
			<tr>
				<th>Ingredient</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<% Object.keys(recipe.ingredients).forEach(i => { %>
				<tr>
					<td><%= i %></td>
					<td><%= recipe.ingredients[i] %></td>
				</tr>
			<% }); %>
		</tbody>
	</table>
</div>
<div>
	<h2>Instructions</h2>
	<p><%= recipe.instructions %></p>
</div>

<% if (owner._id.equals(user && user._id)) { %>
	<div class="modify">
		<form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
			<button type="submit">Delete Recipe</button>
		</form>
	</div>
<% } %>

<div class="reviews">
	<h2>Reviews</h2>
	<% if (user) { %> 
		<form action="/recipes/<%= recipe._id %>/reviews" method="POST">
			<select id="rating" name="rating">
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
			<textarea name="content" rows="4" required placeholder="Enter comments here"></textarea>
			<input type="submit" value="Add Review">
		</form>
	<% } %>
	<% if (!reviews.length) { %>
		<h5>None yet!</h5>
	<% } %> 
	<% reviews.forEach(review => { %>
		<div class="container">
			<span class="rating"><%= review.rating %></span>
			<span><%= review.content %></span>
		</div>
	<% }) %>
</div>

<%- include('../partials/footer') %>